src/main/mule/maven-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
xmlns:vm="http://www.mulesoft.org/schema/mule/vm" 
xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
xmlns:db="http://www.mulesoft.org/schema/mule/db" 
xmlns:http="http://www.mulesoft.org/schema/mule/http" 
xmlns="http://www.mulesoft.org/schema/mule/core"
xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core 
http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http 
http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db 
http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/jms 
http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/core 
http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm 
http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fb65c284-32b2-4e00-bccd-48748236ccc7">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	
	<db:config name="Database_Config" doc:name="Database Config" doc:id="d877da1c-debe-4a60-951f-cff2c19ba1df">
		<db:my-sql-connection host="iltdb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="ccd448ef-0742-48a5-bad4-7add39df7b55">
		<vm:queues>
			<vm:queue queueName="myQueue" />
		</vm:queues>
	</vm:config>

	<flow name="mavenFlow" doc:id="01ef5353-8578-410c-965a-517eb0ada895">
		<http:listener doc:name="Listener" doc:id="e611608a-2c64-4cc0-a744-739925b0dc4e" config-ref="HTTP_Listener_config" path="/hello" />
		<db:select doc:name="Select" doc:id="902a0e20-9cde-44c4-98e8-5bdf6ca4fca7" config-ref="Database_Config">
			<db:sql>SELECT * FROM american</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="48b15791-87e8-45f9-92d9-d71d797f9b5c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<vm:publish doc:name="Publish" doc:id="20340a5c-9f4b-4da5-aa90-b96b8b2abc12" config-ref="VM_Config" queueName="myQueue" />
		<logger level="INFO" doc:name="Logger" doc:id="f2342672-d262-4d11-baf0-10bb59073cd6" message="#[payload]" />
	</flow>
</mule>
